@import "_variables";

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-spread {
  display: flex;
  justify-content: space-between;
}

@mixin input-field {
  color: $white;
  background: transparent;

  border: none;
  border-bottom: solid 1px $white;
  outline: none;

  &::placeholder {
    color: $white;
  }
}
