@import "_variables";

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-spread {
  display: flex;
  justify-content: space-between;
}

@mixin flex-spread-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin input-field($color) {
  color: $color;
  font-size: 16px;
  background: transparent;

  border: none;
  border-bottom: solid 1px $color;
  padding-bottom: 6px;
  outline: none;

  &::placeholder {
    color: $color;
  }
}
