@import 'src/app/styles/_variables';
@import 'src/app/styles/_mixins';

.employee {
  cursor: pointer;
  transition: .1s;
  padding: 24px 16px;
  margin-bottom: 16px;
  width: 262px;
  background-color: $gray;

  border: solid 1px rgb(0 0 0 / 5%);
  border-radius: 6px;

  &:hover {
    transform: scale(1.03);
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    color: $blue;
  }

  &__technology {
    padding: 4px 12px;
    border-radius: 4px;
    background: #a33980;

    font-size: 14px;
    color: $white;
  }

  &__company {
    @include flex-vertical-center;
    margin: 4px 0 14px 0;
  }

  &__company--name {
    font-size: 14px;
    color: $blue;
  }

  &__company--color {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    margin: 0 8px 0 0;
  }
}
