<div class="employee">
  <button (click)="deleteEmployee()" class="employee__delete" mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
  <span class="employee__name"> {{ employee.name }} {{ employee.surname }}</span>
  <span class="employee__email">{{ employee.email ? employee.email : 'No e-mail' }}</span>
  <div class="employee__company">
    <div
      [ngStyle]="{'background': employee.company.color}"
      class="employee__company--color"
    ></div>
    <span class="employee__company--name"> {{ employee.company.name }} </span>
  </div>
  <span class="employee__technology">{{ employee.technology ? employee.technology : 'No Technology' }}</span>
</div>
