<header class="header">
  <div class="filtering--options">
    <input
      [formControl]="search"
      type="text"
      class="header__input"
      placeholder="Look for books...">

  </div>
  <div class="header__options">
    <button (click)="addBook()" class="header-btn" mat-button>Add book</button>
    <button  routerLink="/clients" class="header-btn" mat-button>Clients</button>
    <button mat-button class="header-btn" [matMenuTriggerFor]="userOptions">{{ userData?.user?.nickname }}</button>
    <mat-menu #userOptions="matMenu">
      <button routerLink="/settings" mat-menu-item>
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</header>
