@import 'src/app/styles/_variables';
@import 'src/app/styles/_mixins';

.header {
  @include flex-spread;

  background-color: $blue;
  margin-bottom: 32px;
  padding: 16px;

  &__input {
    @include input-field($white);
    width: 262px;
  }
}

.header-btn {
  color: $white;
  margin-left: 16px;
}
