@import "src/app/styles/_mixins";
@import "src/app/styles/_variables";

.container {
  width: 498px;

  &__title {
    color: $blue;
  }

  &__form--fields {
    @include flex-spread;
    flex-wrap: wrap;
  }

  &__form--fields--input {
    width: 48%;
  }

  &__form--fields--textarea {
    width: 100%;
  }
}
