<div class="container">
  <h2 class="container__title">Create employee</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
    <div class="container__form--fields">
      <mat-form-field class="container__form--fields--input" appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Mark" />
        <mat-error *ngIf="employeeForm.get('name').errors?.required">Name is required</mat-error>
        <mat-error *ngIf="employeeForm.get('name').errors?.minlength">Name requires minimum 2 characters</mat-error>
      </mat-form-field>
      <mat-form-field class="container__form--fields--input" appearance="fill">
        <mat-label>Surname</mat-label>
        <input formControlName="surname" matInput placeholder="Zuckenberg" />
        <mat-error *ngIf="employeeForm.get('surname').errors?.required">Surname is required</mat-error>
        <mat-error *ngIf="employeeForm.get('surname').errors?.minlength">Surname requires minimum 3 characters</mat-error>
      </mat-form-field>
      <mat-form-field class="container__form--fields--input" appearance="fill">
        <mat-label>Company</mat-label>
        <mat-select formControlName="companyId" >
          <mat-option *ngFor="let company of allCompanies" [value]="company.id">
            {{ company.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="employeeForm.get('companyId').errors?.required && employeeForm.get('companyId').touched">Company is required</mat-error>
      </mat-form-field>
      <mat-form-field class="container__form--fields--input" appearance="fill">
        <mat-label>Technology</mat-label>
        <input formControlName="technology" matInput placeholder="Angular" />
      </mat-form-field>
      <mat-form-field class="container__form--fields--input" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input type='text' formControlName="email" matInput placeholder="E-mail" />
        <mat-error *ngIf="employeeForm.get('email').errors?.email">E-mail requires correct form</mat-error>
      </mat-form-field>
      <mat-form-field class="container__form--fields--input" appearance="fill">
        <mat-label>Position</mat-label>
        <input type='text' formControlName="position" matInput placeholder="Position" />
        <mat-error *ngIf="employeeForm.get('position').errors?.required">Position is required</mat-error>
      </mat-form-field>
      <mat-form-field class="container__form--fields--textarea" appearance="fill">
        <mat-label>Additional info</mat-label>
        <textarea
          formControlName="info"
          rows="5"
          matInput
          placeholder="Address, phone number..">
        </textarea>
        <mat-error *ngIf="employeeForm.get('info').errors?.maxlength">Info requires maximum 100 characters</mat-error>
      </mat-form-field>
    </div>
    <button [disabled]='employeeForm.invalid' type="submit" mat-flat-button color="primary">Create</button>
  </form>
</div>
