<div class="container">
  <h2 class="container__title">Create employee</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
    <div class="container__form--fields">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Mark" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input formControlName="surname" matInput placeholder="Zuckenberg" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <mat-select formControlName="company" >
          <mat-option *ngFor="let company of allCompanies" [value]="company">
            {{ company.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Technology</mat-label>
        <input formControlName="technology" matInput placeholder="Angular" />
      </mat-form-field>
    </div>
    <button type="submit" mat-flat-button color="primary">Create</button>
  </form>
</div>
