@import "src/app/styles/_mixins";
@import "src/app/styles/_variables";

.container {
  margin: 24px 0;

  &__form--fields {
    display: flex;
    flex-direction: column;
  }
}

.back-button {
  margin: 24px 0;
}
