<div class="filters">
  <mat-form-field class="container__form--fields--input" appearance="fill">
    <mat-label>Genre</mat-label>
    <mat-select [formControl]="genre">
      <mat-option [value]="'--'">
        --
      </mat-option>
      <mat-option *ngFor="let genre of genres" [value]="genre">
        {{ genre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="container__form--fields--input" appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="category" >
      <mat-option [value]="'--'">
        --
      </mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="container__form--fields--input" appearance="fill">
    <mat-label>Author</mat-label>
    <mat-select [formControl]="author" >
      <mat-option [value]="'--'">
        --
      </mat-option>
      <mat-option *ngFor="let author of authors" [value]="author">
        {{ author }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="filter()" class="filter" mat-button>Filter</button>
</div>
<app-book-card *ngFor="let book of allBooks" [book]="book"></app-book-card>
