@import 'src/app/styles/_variables';
@import 'src/app/styles/_mixins';

.company {
  @include flex-spread-center;
  padding: 16px 8px;

  &__info {
    @include flex-spread-center;
    width: 436px;
  }

  &__info--name {
    color: $blue;
    font-size: 16px;
  }

  &__info--color {
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }

  &__actions {
    @include flex-spread-center;
    width: 112px;

    button {
      color: $blue;
    }
  }

}
