<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="container__form">
    <input
      formControlName="email"
      type="email"
      placeholder="E-mail"
      class="input-field username-field"
    />
    <ng-container
      *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid"
    >
      <mat-error *ngIf="loginForm.get('email').errors?.required"
        >Field is required</mat-error
      >
      <mat-error *ngIf="loginForm.get('email').errors?.email"
        >Enter valid email</mat-error
      >
    </ng-container>
    <input
      formControlName="password"
      type="password"
      placeholder="Password"
      class="input-field password-field"
    />
    <mat-error
      *ngIf="
        loginForm.get('password').touched &&
        loginForm.get('password').errors?.required
      "
      >Field is required</mat-error
    >
    <button
      type="submit"
      mat-flat-button
      color="primary"
      style="margin: 16px 0"
      class="login-btn"
    >
      Login
    </button>
    <button type="button" routerLink="/register" mat-button>
      Don't have an account? Click here.
    </button>
  </form>
</div>
