@import "src/app/styles/_variables";

* {
  font-family: 'Poppins', sans-serif;
}

.blue-snackbar {
  background: $green;
  color: $white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
