<form [formGroup]="clientForm" (ngSubmit)="createClient()" class="form">
  <div class="form__fields">
    <input formControlName="name" placeholder="Client name" class="form__fields--name"/>
    <div class="form__fields--color">
      <input
        [(colorPicker)]="clientColor"
        [style.background]="clientColor"
        (colorPickerChange)="formColorChange($event)"
      />
    </div>
  </div>
  <button type="submit" mat-flat-button color="primary">{{ actionName }}</button>
</form>
<mat-divider></mat-divider>
