@import 'src/app/styles/_variables';
@import 'src/app/styles/_mixins';

:host {
  margin-right: 8px;
}

.book {
  cursor: pointer;
  transition: .1s;
  padding: 24px 16px;
  margin-bottom: 16px;
  width: 262px;
  background-color: $gray;

  border: solid 1px rgb(0 0 0 / 5%);
  border-radius: 6px;

  position: relative;

  &:hover {
    transform: scale(1.03);
  }

  &__settings {
    position: absolute;
    top: 6px;
    right: 6px;

    color: $blue;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    color: $blue;
  }

  &__position {
    display: block;
    margin: 6px 0;

    color: $gray-secondary;
    font-weight: 600;
  }

  &__email {
    display: block;

    color: $gray-secondary;
    font-size: 12px;
  }

  &__technology {
    padding: 4px 12px;
    border-radius: 4px;
    background: #7a39a3;

    font-size: 14px;
    color: $white;
  }

  &__client {
    @include flex-vertical-center;
    margin: 4px 0 14px 0;
  }

  &__client--name {
    font-size: 14px;
    color: $blue;
  }

  &__client--color {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    margin: 0 8px 0 0;
  }
}
